<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theme">
    <h1 class="text-white text-center">
      About Us
    </h1>
    <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid illo a, voluptatum ipsam reiciendis inventore hic earum consequuntur qui veritatis itaque, voluptatem omnis nisi odio. Esse non ipsum ratione quos dolorum libero. Similique amet eligendi ex aspernatur sequi reiciendis! Soluta!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque impedit explicabo perferendis officia quisquam, blanditiis nulla voluptatibus pariatur ea unde vitae fugit aspernatur eum? Explicabo vel qui cum, consequatur voluptas provident id deleniti asperiores. Ipsum.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia fugiat velit officiis voluptates cupiditate magni quae maiores sequi necessitatibus perspiciatis, quas natus provident sed ea molestias voluptatum obcaecati, magnam quam. Soluta similique nisi repellat fugit, nihil amet explicabo veritatis laboriosam nam sit quam. Quia illo repudiandae et maxime totam tempore.</p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
      </div>
    </div>
  </div>
</section>
