<div class="card shadow-effect">
  <img
    src="https://clipart-library.com/images/qTBo9Rg6c.jpg"
    alt="post"
    class="card-img-top"
  />
  <div class="card-body">
    <small class="bg-light text-danger text-center">Design</small>
    <small class="bg-light text-success text-center ml-3">Featured</small>
    <small class="bg-light text-info text-center ml-3">Views</small>

    <h5 class="mt-1">Lorem ipsum dolor sit amet consectetur adipisicing.</h5>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente aperiam
      eveniet, fuga incidunt cumque et suscipit accusamus! At, excepturi
      dolorum?
    </p>

    <small class="bg-light text-warning text-center ml-3"
      >LAST UPDATED - SEP 20, 2020</small
    >
  </div>
</div>
